/* REMOVE BOX SIZIN CONTENT BOX SO WE DONT GET AN UNEXPECETED HEIGHT OR WIDTH */
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --primaryColor: hsl(176, 50%, 47%);
  --neutral-900: hsl(0, 0%, 0%);
  --borderColor: #dedede6b;
}

/* SET FONT SIZE TO 10PX BY DEFAULT */
html {
  font-size: 10px;
}

/* REMOVE MARGIN PADDING FROM BODY */
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: "Commissioner", sans-serif;
  color: var(--neutral-900);
}

/* REMOVE MARGIN FROM ALL TEXT ELEMENT */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* GLOBAL CLASS */
.container {
  padding: 0 16px;
  margin-bottom: 20px;
}
.container :nth-last-child() {
  margin-bottom: 0;
}

.contentWrapper {
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;

  border: 1px solid var(--borderColor);
}
.contentCenter {
  text-align: center;
}
.flexContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

/* MARGIN */
.mb-24 {
  margin-bottom: 24px;
}

/* BUTTON */
.primaryButton {
  width: 100%;
  padding: 16px 24px;
  border: none;
  background-color: var(--primaryColor);

  border-radius: 24px;

  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;

  transition: 0.2s;
}
.primaryButton:hover {
  background-color: var(--primaryColor);
}
.iconButton {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}
.iconButton img {
  width: 100%;
  height: 100%;
}

/* TEXT ELEMENT */
.heading-1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--neutral-900);
}
.heading-2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--neutral-900);
}
.heading-3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--neutral-900);
}

.bodyText {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: hsl(0, 0%, 48%);
}
.bodyText-500 {
  font-size: 1.6rem;
  font-weight: 500;
}
.sectionContenWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.colorPrice {
  color: var(--primaryColor);
}

/* SECTION HEADER */
.headerContainer {
  min-height: 280px;

  background-image: url("images/image-hero-mobile.jpg");
  background-size: cover;

  margin-bottom: -60px;
}
.navigationBar {
  padding: 24px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoProject {
  width: 64px;
  margin-top: -60px;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

/* SECTION PRODUCT LIST */

.sectionListProduct {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.productItem {
  padding: 24px;

  border: 1px solid var(--borderColor);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  gap: 28px;
}

.productItemHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.productItemFooter {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.productItemFooter button {
  width: fit-content;
}

/* PROOF SECTION */
.proofItem {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.sepLine {
  width: 35%;
  border: 1px solid var(--borderColor);
}
