*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Overpass", sans-serif !important;
  font-weight: 600;
  margin: 0;
}
p {
  margin: 0;
}

/* FONT STYLE */
.header-1 {
  font-size: 2.8rem;
}
.header-2 {
  font-size: 2.4rem;
}
.header-4 {
  font-size: 1.6rem;
}
.bodyText {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

/* LAYOUT */
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 1.6rem;
}

.mb-40 {
  margin-bottom: 4rem;
}
.pb-80 {
  padding-bottom: 80px !important;
}

/* BUTTON */
.btn {
  height: fit-content;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  color: #fff;
  padding: 12px 20px;
  font-size: 1.4rem;
  border-radius: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

.btnPrimary {
  background-color: #fff;
  color: hsl(353, 100%, 62%);
}

.btnPrimary:hover {
  background-color: #ffffff23;
  color: #fff;
}
.btnSecondary {
  border: 1px solid #fff;
}
.btnSecondary:hover {
  background-color: #fff;
  color: hsl(353, 100%, 62%);
}

/* COLOR */

.cl-subText {
  color: #3d3d3db6;
}

/* HEADER SECTION AND HERO SECTION */
.headerSection {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  border-bottom-left-radius: 100px;
}

.navigationBar {
  padding: 40px 20px;
  position: relative;
  z-index: 999;
}
.btnDropdown {
  font-size: 1.6rem;
  padding: 8px;
  cursor: pointer;
}
.btnNavigation {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: transparent;
  color: #121212;
}
.leftNavigation {
  position: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navListDesktop {
  display: none;
}
.navButtonWrapper {
  display: none;
}

.heroSection {
  position: relative;
  padding: 40px 20px 80px 20px;
  text-align: center;
  color: #fff;
  z-index: 2;
}
.heroImage {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 100%;
  scale: 2.8;
  z-index: 0;
}

.heroImage img {
  width: 100%;
}

.buttonWrapper {
  display: flex;
  gap: 12px;
  justify-content: center;
}

/* BENEFIT SECTION */

.benefitSection {
  padding: 0 20px;
}
.benefitWrapper {
  padding: 80px 0 240px 0;
  text-align: center;
}
.benefitContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.benefitImage {
  display: inline-block;
  width: 100%;
}
.benefitImage img {
  width: 100%;
  max-width: 660px;
  scale: 1.05;
}

.benefitItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.benefitItem {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* INFRA SECTION */

.infrastructureSection {
  position: relative;
  padding: 0 20px;
  background: linear-gradient(
    to bottom right,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 32%)
  );
  border-radius: 0 100px 0 100px;
}
.bgInfraWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0 100px 0 100px;
  overflow: hidden;
}
.bg-pattern {
  margin-top: -150px;
  width: 100%;
  scale: 1.5;
}

.infraWrapper {
  position: relative;
  padding: 80px 0;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  z-index: 9999;
}

.infraImage {
  margin-top: -250px;
}
.infraImage img {
  width: 100%;
}

/* FOOTER SeCTION */
.footerSection {
  padding: 0 20px;
  background: linear-gradient(
    to bottom right,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 32%)
  );
  border-radius: 0 100px 0 0;
}

.footerWrapper {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.footerItem {
  text-align: center;
  color: #fff;
}

.footerLink {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footerItemLink {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

.attribution {
  padding: 40px 20px;
  line-height: 150%;
  font-size: 1.4rem;
  text-align: center;
  color: #fff;
}
.attribution a {
  color: #baff19;
}

@media only screen and (min-width: 1024px) {
  /* LAYOUT */
  .desk-mb-6 {
    margin-bottom: 6rem;
  }
  .desk-row {
    flex-direction: row !important;
  }
  .desk-p-160 {
    padding: 160px 0 !important;
  }

  .desk-m-minus-img {
    margin-right: 0 !important;
    margin-left: -220px !important;
  }
  /* TEXT STYLE */

  .header-1 {
    font-size: 4.8rem;
  }
  .header-2 {
    font-size: 3.2rem;
  }
  .header-4 {
    font-size: 2rem;
  }
  .bodyText {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
  }

  /* NAVIGATION BAR */
  .NavMobile {
    display: none;
  }
  .leftNavigation {
    display: flex;
    gap: 6rem;
  }
  .navListDesktop,
  .navButtonWrapper {
    display: inline-block;
  }
  .navigationBar {
    display: flex;
    justify-content: space-between;
  }
  .btnNavigation {
    color: #fff;
  }

  .btnNavigation:hover {
    text-decoration: underline;
  }
  .navListDesktop ul {
    display: flex;
    gap: 3.2rem;
    padding-left: 0;
  }
  .navListDesktop ul li {
    list-style: none;
  }
  .navListDesktop ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    transition: 0.2s;
  }

  .footerItemLink:hover {
    text-decoration: underline;
  }
  .navButtonWrapper {
    display: flex;
    gap: 2.4rem;
  }

  .heroSection {
    padding: 120px 20px 160px 20px;
  }
  .heroImage {
    position: absolute;
    left: 0;
    top: 0;

    scale: 1.5;
  }
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }

  /* BENEFIT SECTIOn */
  .benefitSection {
    overflow: hidden;
  }
  .benefitContentWrapper {
    flex-direction: row-reverse;
    align-items: center;
  }
  .benefitImage {
    width: 50%;
  }
  .benefitImage img {
    scale: 1.2;
    margin-right: -220px;
  }
  .benefitItemWrapper {
    width: 50%;
    gap: 7.2rem;
  }
  .benefitItem {
    text-align: left;
  }
  .benefitWrapper {
    padding: 160px 0 280px 0;
  }

  /* INFRA SECTION */
  .bgInfraWrapper {
    width: 50%;
  }
  .bgInfraWrapper img {
    margin-top: -50%;
  }
  .infraWrapper {
    flex-direction: row;
    align-items: center;
    padding: 80px 0;
  }
  .infraImage {
    width: 50%;
    margin-top: -200px;
    margin-bottom: -200px;
  }
  .infraContent {
    width: 50%;
    text-align: left;
  }

  .footerWrapper {
    flex-direction: row;
  }
  .footerItem {
    width: 25%;
    text-align: left;
  }
}

/* DROPDOWN  STYLE */
.dropdownWrapper {
  position: relative;
}
.dropdownPos {
  position: absolute;
  z-index: 1;
}
.dropdownContainer {
  display: none;
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 160px;
}
.dropdownItem {
  width: 100%;
  color: #121212 !important;
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 2rem;
}

.dropdownItem:last-child {
  margin-bottom: 0;
}

.dropdownItem:hover {
  font-weight: 600;
}

.showDropdown {
  display: block;
}
.btnIcon {
  transition: all 0.2s linear;
}

/* MOBILE */

.mb-centerItem {
}
.mb-dropdownMobile {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}
.mb-dropdownWrapper ul {
  padding-left: 0;
  list-style-type: none;
}
.mb-dropdownWrapper {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
}
.mb-dropdownContainer {
  box-shadow: none;
  background-color: #efeff1;
  border-radius: 4px;
}
