*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  font-family: "Red Hat Text", sans-serif;
  color: hsl(14, 65%, 9%);
  margin: 0;
  padding: 0;
  background-color: hsl(20, 50%, 98%);
}
button {
  cursor: pointer;
}

/* COLOR */
.redColor {
  color: hsl(14, 86%, 42%);
}
.priceColor {
  color: hsl(14, 86%, 42%);
}
.categoryColor {
  color: hsl(12, 20%, 44%);
}
.textWhite {
  color: #fff;
}

/* FONT STYLE */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.heading-1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 125%;
}
.heading-2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 125%;
}
.heading-3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 125%;
}
.heading-4 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 125%;
}
.heading-5 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 125%;
}

.bodyText {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 125%;
}
.bodyText-500 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 125%;
}
.captionText {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 135%;
}

/* BUTTON */
.productCallToAction {
  position: relative;
  margin-top: -28px;
  z-index: 99;
}
.primaryButton {
  padding: 13px 24px;
  background-color: #fff;
  border-radius: 24px;
  border: 1px solid hsl(14, 25%, 72%);
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 1.4rem;
  font-weight: 600;
  color: hsl(14, 65%, 9%);
  z-index: 999;
}
.btnItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #fff;
  background-color: transparent;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  transition: 0.2s;
}
.btnItem:hover {
  border-color: hsl(14, 100%, 50%);
  background-color: hsl(14, 100%, 50%);
}

.buttonWrapper {
  width: 65%;
  margin: 0 auto;
  border-radius: 24px;
  padding: 10px 24px;
  background-color: hsl(14, 86%, 42%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondaryButton {
  width: 100%;
  border-radius: 24px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  z-index: 999;
  border: none;
  background-color: hsl(14, 100%, 50%);
  padding: 24px;
  transition: 0.2s;
}
.secondaryButton:hover {
  background-color: hsl(14, 94%, 45%);
}

.centerButton {
  margin: 0 auto;
}

/* GLOBAL */
.container {
  padding: 40px 0;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.mainProductContainer {
  padding: 0 16px;
}
.productListWrapper {
  margin-top: 24px;
  display: grid;
  gap: 40px;
}
.ml-12 {
  margin-left: 12px;
}

/* PRODUCT */
.productbody {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.productImage {
  border-radius: 16px;
  overflow: hidden;
}
.productImage img {
  width: 100%;
}

/* CART */
.cartContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  border-radius: 16px;
  background-color: #fff;
  height: fit-content;
}
.cartEmptyState {
  text-align: center;
}
.cartEmptyState img {
  margin-bottom: 32px;
}
.cartFillState {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.totalOrder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(14, 65%, 9%);
}
.carbonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  background-color: hsl(20, 50%, 98%);
  border-radius: 8px;
}

.cartItemWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.hideContainer {
  display: none;
}

@media only screen and (min-width: 600px) {
  .container {
    flex-direction: row;
    gap: 60px;
  }
  .productListContainer {
    width: 65%;
  }
  .cartContainer {
    width: 35%;
  }
  .productListWrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }
}

@media only screen and (min-width: 992px) {
  .productListWrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
  }
}
