:root{
    --darkBlue-900:hsl(216, 53%, 9%);
    --darkBlue-800:hsl(218, 28%, 13%);
    --darkBlue-700:hsl(217, 28%, 15%); 
    --darkBlue-600:hsl(219, 30%, 18%);

    --white:#ffff;
 

}

body{
    margin:0 ;
    padding: 0;
    background-color: var(--darkBlue-800);
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: "Raleway", sans-serif;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}

/* FONT STYLE */
.header-1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 130%;
}
.header-2{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 130%;
}
.header-3{
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 130%;
}
.bodyText{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.8;
}
.captionText{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.8;
}


/* SEPERATION */
.mobileSep{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.desktopSep{
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
}



/* LAYOUT */
.mb-m{
    margin-bottom: 24px;
}
.mb-s{
    margin-bottom: 8px;
}
.mb-xs{
    margin-bottom: 4px;
}



/* BUTTON */
.primaryButton{
    padding: 12px 16px;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    background-image: linear-gradient(to right,hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    color: var(--white);

    border: none;
    border-radius: 50px;
}

.secondaryButton{
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    gap: 12px;
    width: fit-content;

    text-decoration: none;
    color: hsl(176, 68%, 64%);
    padding-bottom: 8px;
    border-bottom: 1.5px solid hsl(176, 68%, 64%);
}
.secondaryButton span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondaryButton img{
    width: 20px;
}



/* NAVIGATION */
.navigationSection{
padding: 20px;
background-color: var(--darkBlue-700);
}
.navWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navWrapper img{
    width: 80px;
}
.navList{
    display: flex;
    gap: 24px;
}
.navItem{
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

/* HERO SECTION */
.heroSection{
    position: relative;
    padding: 40px 20px;
    background-color: var(--darkBlue-700);
}
.heroWrapper{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 28px;
    z-index: 9999;
}
.heroWrapper img{
    width: 100%;
}

/* BENEFIT SECTION */
.benefitSection{
    padding: 100px 20px;
}
.benefitGrid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
}
.benefitItem{
    text-align: center;
}

.howItWorkSection{
    padding: 60px 20px;
}

.howItWorkWrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.imgContainer img{
    width: 100%;
}


/* TESTIMONIAL */
.testimonialSection{
    padding: 100px 20px;
}
.testimonialList{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.testimonialItem{
    padding: 20px;
    background-color: var(--darkBlue-600);
}

.profileTestmonial{
    display: flex;
    gap: 12px;
}
.profileTestmonial img{
    width: 40px;
    border-radius: 50%;
}
